.actions {
  display: flex;
  align-items: center;
  gap: 1rem;

  > button {
    border: none;
    background-color: transparent;
    font-size: 1.6rem;
    color: var(--primary);
    opacity: 0.8;
    outline: none;
    transition: opacity 0.3s;
    font-size: 20px;
  }

  > button:hover {
    opacity: 1;
  }
}
