.range{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  input{
    width: 49%;
    height: 30px;
    background: #fff;
    border-radius: 5px;
    padding: 0 10px;
  }

}
