.addToCartButton{
  color: var(--secondary);
  font-size: 20px;
  width: 35px;
  height: 35px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
