.Button {
	width: auto;
	min-width: 120px;
	padding: 0 30px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.Dark {
	color: var(--primary);
	background: var(--secondary);
}
.Light {
	color: #fff;
	background: var(--primary);
}
.White {
	color: var(--primary);
	background: #fff;
}
