:root {
	--black: #2e3239;
	--light-grey:#ABA9A9FF;
	--grey: #3e4852;
	--white: #fff;
	--primary: #ff8902;
	--yellow: #f9c00d;
	--secondary: #151d25;
	--aqua: #268697;
	--baseBorder: 11px;
	--dark-blue: #222f3e;
}
body,
html {
	font-family: --font-open_sans, sans-serif;
	background: #f2f2f2;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	overflow-x: hidden;
}
* {
	outline: none;
	border: none;
	box-shadow: none;
	background: transparent;
	box-sizing: border-box;
}
a{
	text-decoration: none;

}
button {
	cursor: pointer;
}
input {
	cursor: text;
}
