.carousel{
  position: relative;
  width: auto;
  height: 300px;
  top: 170px;
  left: 0;
  margin-bottom: 200px;
}
.item {
  position: relative;
  display: flex;
  align-items: center;
  height: 300px;
  width:calc( 100% - 10px);
  border-radius: 20px;
  background:var(--secondary)  ;
  background-repeat: no-repeat;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-position: top 67% right 40%;
  background-size: 50%;
  animation: slideFromLeft .7s;
}
@keyframes scaleIn {
  0%{
    opacity: 0;
    transform: scale(0.9);
  }
  50%{
    opacity: 0.3;
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}
.controlSlide{
  width: 550px;
}
.controlSlide> h2 {
  width: 400px;

  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  animation: scaleIn .5s;

}
.controlSlide p {
  width: 400px;
  margin-bottom: 20px;
  color: #fff;
  animation: scaleIn .5s;

}

.controlSlide > a {
  width: 400px;

  color: var(--yellow);
  animation: scaleIn .5s;

}

.nav {
  position: absolute;
  right: 10px;
  top: 6px;
  z-index: 1;
  display: flex;
  align-items: center;
}

.nav > button {
  color: #fff;
  transition: color 0.3s ease-in-out;
  font-size: 30px;
}

.nav > button:first-child {
  margin-right: 5px;
}

.nav > button:hover {
  color: var(--grey);
}

.itemEnter {
  opacity: 0;
  transform: scale(0.9);
}

.itemEnterActive {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.itemExit {
  opacity: 1;
}

.itemExitActive {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-300px);
    opacity: 0.2;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.imageSlide{
  user-select: none;
  pointer-events: none;
  animation: scaleIn .5s;

  margin-bottom: 150px;
}
