.sidebarBlock{
	width: 320px;
	position: inherit;
}
.sidebar {
	width: 320px;
	position: fixed;
	background: var(--secondary);
	height: calc(100vh - 100px);
	border-right: 3px solid var(--grey);
	padding: 0;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-top: 100px;
	z-index: 3;
}
.categoryItemsBlock {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.categoryItemsUl {
	padding: 0;
	margin: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.categoryItem {
	list-style-type: none;
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: right;
	padding-right: 30px;
	a {
		color: rgba(255, 255, 255, 0.82);
		text-decoration: none;
	}
}
.categoryItemActive {
	justify-content: space-between;
	.inactiveElement {
		a {
			color: var(--primary);
			font-weight: 500;
		}
		background: var(--grey);
		border-radius: 10px;
	}
}
.activeElementLabel {
	width: 3px;
	height: 25px;
	border-radius: 0 10px 10px 0;
	background: var(--primary);
}
.inactiveElement {
	width: 180px;
	margin-right: 25px;
	height: 100%;
	padding-left: 30px;
	display: flex;
	align-items: center;
	justify-content: left;
}
.logout {
	position: relative;
	margin-top: auto;
	width: 100px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #fff;
	font-size: 20px;
	margin-bottom: 30px;
	cursor: pointer;
	transition: all 0.3s;
}
.logout:hover {
	transition: all 0.3s;
	color: var(--primary);
}
