.sortDropDown {
	width: 250px;
	height: 40px;
  cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
	position: relative;
	margin-left: auto;
	select {
		color: #fff;
      cursor: pointer;
	}
}
